@font-face {
  font-family: "LEAFY";
  font-style: normal;
  font-weight: normal;
  src: local("LEAFY"), url("leafy.woff") format("woff");
}

:root {
  --menu-hover-color: #026e00;
  --menu-links-color: rgb(212, 209, 209);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
  color: var(--menu-links-color);
  text-decoration: none;
}

h2, h3, h4 {
  font-family: Leafy, monospace;
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

body {
  font-size: 16px;
  font-family: roboto, monospace;
  color: var(--menu-links-color); 
  background-color: #023614;
}

header {
  position: relative;
  background-color: black;
}

img {
  width: 100%;
}

.menu {
  width: 50%;
  display: flex;
  justify-content: center;
  
  position: absolute;
  top: 70%;
  left: 25%;

  text-transform: uppercase;
  font-size: 1.2em;
  border-bottom: 1px solid var(--menu-links-color);
}

.menu li:hover {
  background-color: #026e00;
  z-index: 0;
}



.menu > li {
  list-style: none;
  padding: 12px;
  margin: 0 30px;
}

.dropdown {
  position: relative;
}

.dropdown > span {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.dropdown:hover > .dropdown-menu {
  display: flex;
  flex-direction: column;

  background-color: black;

  border-radius: 5px;

  position: absolute;
  top: 100%;
  left: 0%;
  z-index: -1;
}

.dropdown-menu {
  display: none;
  white-space: nowrap;
}

.dropdown-menu li {
  list-style: none;
  border-bottom: 1px solid var(--menu-links-color);
  padding: 10px;
}

.cover img {
  display: block;
  opacity: 0.6;
}

.cover-header {
  width: 100%;
  position: absolute;
  top: 40%;
  text-align: center;
  color: white;
  font-family: Leafy, monospace;
  font-size: 4em;
}

main {
  width: 70%;
  margin: 0 auto;
}

.overview {
  text-align: center;
  margin: 30px 50px 0 50px;
}

.overview > p {
  margin-top: 30px;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-item {
  display: flex;
  width: 80%;
  background-color: #118811;
  margin-top: 100px;
  border-radius: 12px;
}

#booktropolis img:first-of-type {
  border-radius: 12px 0 0 0;
}
#booktropolis img:last-of-type {
  border-radius: 0 0 0 12px;
}

#movie-manager img {
  border-radius: 12px 0 0 12px;
}

.gallery-image-container {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.gallery-content {
  width: 40%;
  display: flex;
  flex-flow: column wrap;
  padding: 20px;
}

.gallery-content > * {
  margin-top: 20px;
  list-style: none;
}

footer {
  background-color: black;
  margin-top: 50px;
}
footer > img {
  display: block;

  opacity: 0.7;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  color: var(--menu-hover-color);
}

.social {
  display: flex;
  align-items: center;
}

.social > img ~ img {
  margin-left: 30px;
}

/* Desktop styles */
@media only screen and (min-width: 961px) {
}
