@font-face {
  font-family: "LEAFY";
  font-style: normal;
  font-weight: normal;
  src: local("LEAFY"), url("leafy.woff") format("woff");
}

:root {
  --menu-hover-color: #027596;
  --menu-links-color: rgb(226, 224, 224);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu a:link,
.menu a:visited {
  color: var(--menu-links-color);
  text-decoration: none;
}

h2,
h3,
h4 {
  font-family: Leafy, monospace, Arial, Helvetica, sans-serif;
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.7em;
}

body {
  font-size: 16px;
  font-family: monospace, sans-serif;
  color: rgb(219, 217, 217);
  /*background-color:#023614;*/
  /*background: linear-gradient(to right, #023614, rgb(14, 77, 35) 15% 85%, #023614);*/
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    #000046,
    #1cb5e0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    #000046,
    #1cb5e0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
  position: relative;
  background-color: black;
}

img {
  width: 100%;
}

.menu {
  width: 50%;
  display: flex;
  justify-content: center;

  position: absolute;
  top: 70%;
  left: 25%;

  text-transform: uppercase;
  font-size: 1.2em;
  border-bottom: 1px solid var(--menu-links-color);
}

.menu li:hover {
  background-color: var(--menu-hover-color);
  z-index: 0;
}

.menu > li {
  list-style: none;
  padding: 12px;
  margin: 0 30px;
}

.dropdown {
  position: relative;
}

.dropdown > span {
  position: relative;
  z-index: 1;
  cursor: pointer;
  white-space: nowrap;
}

.dropdown:hover > .dropdown-menu {
  display: flex;
  flex-direction: column;

  background-color: black;
  border-radius: 5px;

  position: absolute;
  top: 100%;
  left: 0%;
  z-index: -1;
}

.dropdown-menu {
  display: none;
  white-space: nowrap;
}

.dropdown-menu li {
  list-style: none;
  border-bottom: 1px solid var(--menu-links-color);
  padding: 10px;
}


.cover img {
  opacity: 0.6;
  object-fit: cover;
  height: 100vh;
}

.cover-header {
  width: 100%;
  position: absolute;
  top: 40%;
  text-align: center;
  color: white;
  font-family: Leafy, monospace;
  font-size: 4em;
}

main {
  width: 70%;
  margin: 0 auto;
}

.overview {
  width: 50%;
  text-align: center;
  margin: 2rem auto 0 auto;
}

.overview > p {
  margin-top: 30px;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-item {
  display: flex;
  width: 80%;
  /*background-color: #25703e;*/
  background-color: #1cb5e0;
  margin-top: 100px;
  border-radius: 12px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s linear;
}

.gallery-item:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.gallery-item > img {
  width: 60%;
  border-radius: 12px 0 0 12px;
}

.gallery a:link,
.gallery a:visited {
  color: rgb(71, 71, 71);
  font-weight: bold;
  text-decoration: none;
}

.gallery-content {
  width: 40%;
  display: flex;
  flex-flow: column wrap;

  padding: 20px;
  margin-bottom: 100px;
}

.gallery-content > * {
  margin-top: 20px;
  list-style: none;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tools > li {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px;
  color: rgb(37, 37, 37);
}

.tools > li img {
  margin-bottom: 8px;
}

.tools-header {
  text-align: center;
  margin-top: 3rem;
}

footer {
  position: relative;

  background-color: black;
  margin-top: 10rem;
}
footer > img {
  height: 30vh;
  object-fit: cover;
  opacity: 0.5;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem 3rem;
  color: var(--menu-links-color);
}

.social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social > img {
  width: 15%;
  cursor: pointer;
}

.social > img:first-child {
  width: 20%;
}

.social > img ~ img {
  margin-left: 30px;
}

/* Large styles */
@media only screen and (min-width: 992px) {
}

/* Medium styles */
@media only screen and (min-width: 768) {
}
